{% extends "admin/model/details.html" %}

{% block details_table %}
  <table class="table table-hover table-bordered searchable">
    {% for c, name in details_columns %}
      <tr>
        <td><b>{{ name }}</b></td>

        <td>
            {% if c == 'description' %}
              {% for item in get_value(model, c) %}
                {{ item }}
                <br><br>
              {% endfor %}
            {% elif c == 'url' %}
              <a href={{ get_value(model, c) }}>{{ get_value(model, c) }}</a>
            {% else %}
              {{ get_value(model, c) }}
            {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
